.color-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

* {
  align-content: center;
}

.Baap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
